<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Marie Vareille</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">    

  </head>
  <body>
    <h1>Marie Vareille, écrivaine</h1>

    <nav>
      <a href="/home">👋  Accueil</a>
      <a href="/about">✍️  À propos</a>
      <a href="/works">📔  Ses romans</a>   
      <a href="/photo-gallery"> 📰  Gallerie & Presse</a>
    </nav>

    <aside>
      <h2>À propos</h2>
      <div class="about">
        <img src="/images/La-vie-rêvée.jpeg" alt="photo profil"/>
        <p>Née en 1985 à Montbard, Marie Vareille est l’autrice de neuf romans, traduits dans de nombreux pays.<br>
        Son quatrième roman « La vie rêvée des chaussettes orphelines » a remporté le prix « Les Petits mots des libraires » en 2021 et s’est vendu a plus de 100.000 exemplaires. Elle a aussi reçu de nombreux prix en littérature jeunesse, dont le prix Babelio 2021 pour son roman « Le syndrome du spaghetti ».<br>
        Elle vit aux Pays-Bas avec son mari et ses filles.</p>
      </div>
    </aside>

    <aside class="sources">
      <a href="https://www.editionsleduc.com/auteur/389/marie-vareille">Sources: Édition Leduc</a>
      <a href="https://marievareille.com/">Marie Vareille</a>
    </aside> 

    <footer>
      <div class="box">
        <div>
          <img src="/images/facebook.png" alt="logo facebook"/>
          <a href="https://www.facebook.com/vareille.marie">Facebook</a>
        </div>
        <div>
          <img src="/images/instagram.jpeg" alt="logo instagram"/>
          <a href="https://www.instagram.com/marie_vareille/">Instagram</a>
        </div>
        <div>
          <img src="/images/charleston.jpeg" alt="logo leduc"/>
          <a href="https://www.editionsleduc.com/auteur/389/marie-vareille">Éd. Charleston</a>
        </div>  
        </div>
    </footer>

  </body>
</html>