<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gospel Festival de Paris 2021</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="about">
    <h1>Retrouvez Total Praise Mass Choir le 1er novembre 2021 à 20H au Grand Rex pour cette 18ème édition du Gospel Festival de Paris !</h1>

    <p>La plus importante formation gospel en France pouvant atteindre jusqu’à 250 choristes et musiciens, alliant efficacement harmonie, puissance et spiritualité : Total Praise Mass Choir sur scène, ce sont des sensations fortes garanties à chacun de ses rendez-vous avec le public, tant cette chorale est en recherche constante d’authenticité et d’excellence.</p>
    </div>
</body>
</head>