<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>About</title>
</head>
<body>
  <nav>
    <h1><a href="/home">Baruch Spinoza</a></h1>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/works">Works</a></li>
      <li><a href="/gallery">Gallery</a></li>
    </ul>
  </nav>
  <main>
    <h2>About Spinoza</h2>
    <article>
      "Baruch (de) Spinoza[13] (/bəˈruːk spɪˈnoʊzə/;[14][15] Dutch: [baːˈrux spɪˈnoːzaː]; Portuguese: [ðɨ ʃpiˈnɔzɐ]; born Baruch Espinosa;[16] later as an author and a correspondent Benedictus de Spinoza, anglicized to Benedict de Spinoza; 24 November 1632 – 21 February 1677[17][18][19][20]) was a Dutch philosopher of Portuguese Sephardi origin.[12][21][22] One of the early thinkers of the Enlightenment[23] and modern biblical criticism,[24] including modern conceptions of the self and the universe,[25] he came to be considered one of the great rationalists of 17th-century philosophy.[26] Inspired by the groundbreaking ideas of René Descartes, Spinoza became a leading philosophical figure of the Dutch Golden Age. Spinoza's given name, which means "Blessed", varies among different languages. In Hebrew, his full name is written ברוך שפינוזה‎. In the Netherlands he used the Portuguese name Bento.[27] In his Latin and Dutch works, he used Latin: Benedictus de Spinoza.[clarification needed]
      <br>Spinoza was raised in the Portuguese-Jewish community in Amsterdam. He developed highly controversial ideas regarding the authenticity of the Hebrew Bible and the nature of the Divine. Jewish religious authorities issued a herem (חרם‎) against him, causing him to be effectively expelled and shunned by Jewish society at age 23, including by his own family. His books were later added to the Catholic Church's Index of Forbidden Books. He was frequently called an "atheist" by contemporaries, although nowhere in his work does Spinoza argue against the existence of God.[28]
      <br>Spinoza lived an outwardly simple life as an optical lens grinder, collaborating on microscope and telescope lens designs with Constantijn and Christiaan Huygens. He turned down rewards and honours throughout his life, including prestigious teaching positions. He died at the age of 44 in 1677 from a lung illness, perhaps tuberculosis or silicosis exacerbated by the inhalation of fine glass dust while grinding lenses. He is buried in the Christian churchyard of Nieuwe Kerk in The Hague.[29]
      <br>Spinoza's magnum opus, the Ethics, was published posthumously in the year of his death. The work opposed Descartes' philosophy of mind–body dualism and earned Spinoza recognition as one of Western philosophy's most important thinkers. In it, "Spinoza wrote the last indisputable Latin masterpiece, and one in which the refined conceptions of medieval philosophy are finally turned against themselves and destroyed entirely".[30] Hegel said, "The fact is that Spinoza is made a testing-point in modern philosophy, so that it may really be said: You are either a Spinozist or not a philosopher at all."[31] His philosophical accomplishments and moral character prompted Gilles Deleuze to name him "the 'prince' of philosophers".[32]"
      <br>
      <br><i>Extract taken from <a href="https://en.wikipedia.org/wiki/Baruch_Spinoza" class="credit">Wikipedia</a></i>
    </article>
  </main>
  
</body>
</html>