<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Louvres Museum | About</title>
    <link rel="stylesheet" href="http://localhost:2000/about.css">
</head>
<body>
    <h1><a class="h1-title" href="http://localhost:2000/home">LOUVRES MUSEUM</a></h1>
    <ul>
        <li><a href="http://localhost:2000/about">ABOUT</a></li>
        <li><a href="http://localhost:2000/works">WORKS</a></li>
        <li><a href="http://localhost:2000/gallery">GALLERY</a></li>
    </ul>
    <div>
        <h2>The treasures of the Louvre palace and collections</h1>
        <h3>THE PALACE</h2>
        <p>Explore the former palace of the kings of France – now the largest museum in the world covering almost 10,000 years of history! The palace is divided into three wings: Richelieu, Sully and Denon. Take your pick!</p>
    
        <h3>THE GARDENS</h2>
        <p>The Louvre Estate includes both the Carrousel Garden and Tuileries Garden. These historical parks offer beautiful settings for a leisurely walk and seasonal activities for all the family to enjoy.</p>

        <h3>COLLECTIONS</h2>
        <p>The Collections database consists of entries for more than 480,000 works in the Musée du Louvre and Musée National Eugène-Delacroix. Updated on a daily basis, it is the result of the continuous research and documentation efforts carried out by teams of experts from both museums.</p>
    </div>
</body>
</html>





    