<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Louvres Museum | Gallery</title>
    <link rel="stylesheet" href="http://localhost:2000/gallery.css">
</head>
<body>
    <h1><a class="h1-title" href="http://localhost:2000/home">LOUVRES MUSEUM</a></h1>
    <ul>
        <li><a href="http://localhost:2000/about">ABOUT</a></li>
        <li><a href="http://localhost:2000/works">WORKS</a></li>
        <li><a href="http://localhost:2000/gallery">GALLERY</a></li>
    </ul>
    <div>
        <img class="gallery-img" src="http://localhost:2000/Allegrain.jpeg" alt="">
        <img class="gallery-img" src="http://localhost:2000/Beaume.jpeg" alt="">
        <img class="gallery-img" src="http://localhost:2000/Bicci-di-Lorenzo.jpeg" alt="">
        <img class="gallery-img" src="http://localhost:2000/Blin-de-Fontenay.jpeg" alt="">
        <img class="gallery-img" src="http://localhost:2000/Coypel.jpeg" alt="">
        <img class="gallery-img" src="http://localhost:2000/Desportes.jpeg" alt="">
        <img class="gallery-img" src="http://localhost:2000/Bondoux.jpeg" alt="">
        <img class="gallery-img" src="http://localhost:2000/Isabey.jpeg" alt="">

    </div>
</body>
</html>    