<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Marie Vareille</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">    

  </head>
  <body>
    <h1>Marie Vareille, écrivaine</h1>

    <nav>
      <a href="/home">👋  Accueil</a>
      <a href="/about">✍️  À propos</a>
      <a href="/works">📔  Ses romans</a>   
      <a href="/photo-gallery"> 📰  Gallerie & Presse</a>
    </nav>

    <aside>
      <h2>Nouveautés</h2>
      <h3>Votre calendrier de l'avant #ZéroCalorie !</h3>
      <div class="actus">
        <a title="Petits réveillons entre amis" href="https://www.editionsleduc.com/produit/2651/9782368127650/petits-reveillons-entre-amis?affiliate_code="><img class="product_picture " alt="Petits réveillons entre amis - Marie Vareille, Isabelle Alexis, Tonie Behar, Adèle Bréau, Sophie Henrionnet, Marianne Levy - Éditions Charleston" src="https://www.editionsleduc.com/system/product_pictures/data/009/989/696/medium/9782368127162.jpg?1632922092" /></a>

        <p><span class="titre">PETITS RÉVEILLONS ENTRE AMIS</span><br>
        Des toits de Montmartre à un hôtel perdu dans la montagne enneigée, de New York à la Bretagne, d’une cellule de garde à vue à un grand magasin de luxe, d’un ascenseur à une cure détox, d’un wagon d’Eurostar à un cabinet de psy…<br>
        Les héroïnes et héros de ces 25 histoires iront de surprise en surprise, et vivront le Noël le moins traditionnel, mais le plus mémorable de leur vie !<br>
        Avec la #TeamRomCom, découvrez un calendrier de l’Avent littéraire et romantique, à offrir ou à s’offrir, pour des fêtes magiques et féeriques !<br>
        <span class="auteur">de Marie Vareille, Isabelle Alexis, Tonie Behar, Adèle Bréau, Sophie Henrionnet, Marianne Levy<br>
        Publication : 12 octobre 2021</span></p>    
      </div>
    </aside>

    <article>
      <div>
        <img src="/images/La-vie-rêvée.jpeg"/>
        <a href="/about">En savoir plus sur Marie</a>
      </div>
  
      <div>
        <img src="/images/romans.png"/>
        <a href="/works">Ses romans & nouvelles</a>    
      </div>
  
      <div>
        <img src="/images/magazine.png"/>
        <a href="/photo-gallery">Presse</a>
      </div>
    </article>

    <aside class="sources">
      <a href="https://www.editionsleduc.com/auteur/389/marie-vareille">Sources: Édition Leduc</a>
      <a href="https://marievareille.com/">Marie Vareille</a>
    </aside> 

    <footer>
      <div class="box">
        <div>
          <img src="/images/facebook.png" alt="logo facebook"/>
          <a href="https://www.facebook.com/vareille.marie">Facebook</a>
        </div>
        <div>
          <img src="/images/instagram.jpeg" alt="logo instagram"/>
          <a href="https://www.instagram.com/marie_vareille/">Instagram</a>
        </div>
        <div>
          <img src="/images/charleston.jpeg" alt="logo leduc"/>
          <a href="https://www.editionsleduc.com/auteur/389/marie-vareille">Éd. Charleston</a>
        </div>
      </div>
    </footer>

  </body>
</html>