<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Louvres Museum | Home</title>
    <link rel="stylesheet" href="http://localhost:2000/home.css">
</head>
<body>
    <h1>LOUVRES MUSEUM</h1>
    <ul>
        <li><a href="http://localhost:2000/about">ABOUT</a></li>
        <li><a href="http://localhost:2000/works">WORKS</a></li>
        <li><a href="http://localhost:2000/gallery">GALLERY</a></li>
    </ul>
    <div>
        <img src="http://localhost:2000/Pyramide-du-Louvre.jpeg" alt="Photo du Louvres">
    </div>

</body>
</html>