<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Marie Vareille</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">    

  </head>
  <body>
    <h1>Marie Vareille, écrivaine</h1>

    <nav>
      <a href="/home">👋  Accueil</a>
      <a href="/about">✍️  À propos</a>
      <a href="/works">📔  Ses romans</a>   
      <a href="/photo-gallery"> 📰  Gallerie & Presse</a>
    </nav>

    <aside>
      <h2>Ils en parlent...</h2>
      <div class="presse">
        <img src="/images/Toutenpapier.png" alt="photo profil"/>
        <a href="https://www.francebleu.fr/emissions/toutenpapier/petits-reveillons-entre-amis-chez-charleston">#Toutenpapier</a>
      </div>
    </aside>

    <aside class="sources">
      <a href="https://www.editionsleduc.com/auteur/389/marie-vareille">Sources: Édition Leduc</a>
      <a href="https://marievareille.com/">Marie Vareille</a>
    </aside> 

    <footer>
      <div class="box">
        <div>
          <img src="/images/facebook.png" alt="logo facebook"/>
          <a href="https://www.facebook.com/vareille.marie">Facebook</a>
        </div>
        <div>
          <img src="/images/instagram.jpeg" alt="logo instagram"/>
          <a href="https://www.instagram.com/marie_vareille/">Instagram</a>
        </div>
        <div>
          <img src="/images/charleston.jpeg" alt="logo leduc"/>
          <a href="https://www.editionsleduc.com/auteur/389/marie-vareille">Éd. Charleston</a>
        </div>  
        </div>
    </footer>

  </body>
</html>