<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Works</title>
</head>
<body>
  <nav>
    <h1><a href="/home">Baruch Spinoza</a></h1>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/works">Works</a></li>
      <li><a href="/gallery">Gallery</a></li>
    </ul>
  </nav>
  <main>
    <h2>Spinoza's Works</h2>
    <article>
      "The writings of René Descartes have been described as "Spinoza's starting point".[91] Spinoza's first publication was his 1663 geometric exposition of proofs using Euclid's model with definitions and axioms of Descartes' Principles of Philosophy. Spinoza has been associated with Leibniz and Descartes as "rationalists" in contrast to "empiricists".[98]
      <br>Spinoza engaged in correspondence from December 1664 to June 1665 with Willem van Blijenbergh, an amateur Calvinist theologian, who questioned Spinoza on the definition of evil. Later in 1665, Spinoza notified Oldenburg that he had started to work on a new book, the Theologico-Political Treatise, published in 1670. Leibniz disagreed harshly with Spinoza in his own manuscript "Refutation of Spinoza",[99] but he is also known to have met with Spinoza on at least one occasion[94][98] (as mentioned above), and his own work bears some striking resemblances to specific important parts of Spinoza's philosophy (see: Monadology).
      <br>When the public reactions to the anonymously published Theologico-Political Treatise were extremely unfavourable to his brand of Cartesianism, Spinoza was compelled to abstain from publishing more of his works. Wary and independent, he wore a signet ring which he used to mark his letters and which was engraved with the word caute (Latin for "cautiously") underneath a rose, itself a symbol of secrecy.[100] "For, having chosen to write in a language that was so widely intelligible, he was compelled to hide what he had written."[30]
      <br>The Ethics and all other works, apart from the Descartes' Principles of Philosophy and the Theologico-Political Treatise, were published after his death in the Opera Posthuma, edited by his friends in secrecy to avoid confiscation and destruction of manuscripts. The Ethics contains many still-unresolved obscurities and is written with a forbidding mathematical structure modelled on Euclid's geometry[12] and has been described as a "superbly cryptic masterwork".[91]
      <br>In a letter, written in December 1675 and sent to Albert Burgh, who wanted to defend Catholicism, Spinoza clearly explained his view of both Catholicism and Islam. He stated that both religions are made "to deceive the people and to constrain the minds of men". He also states that Islam far surpasses Catholicism in doing so.[101][102] The Tractatus de Deo, Homine, ejusque Felicitate (Treatise on God, man and his happiness) was one of the last Spinoza's works to be published, between 1851[103] and 1862.[104]"
      <br>
      <br><i>Extract taken from <a href="https://en.wikipedia.org/wiki/Baruch_Spinoza" class="credit">Wikipedia</a></i>
    </article>
  </main>
  
</body>
</html>