<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Total Praise Mass Choir</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="works">
    <p>C’est avec les plus grands artistes du gospel américain que Total Praise Mass Choir - porte étendard du Gospel Festival de Paris, a partagé la scène : Kirk Franklin, Donnie McClurkin, Shirley Caesar, CeCe Winans, Yolanda Adams, Richard Smallwood, Marvin Sapp, Israel Houghton, Deitrick Haddon, Byron Cage, Hezekiah Walker, Wess Morgan, Smokie Norful, etc.</p>
        
    <p>Total Praise a déjà eu l’occasion de se produire au-delà des frontières françaises : à New-York, au Canada, au Congo Brazzaville, à Pointe Noire et plusieurs fois dans la Caraïbe : à la Barbade et régulièrement à la Martinique, pour le Caribbean Gospel Festival qui a lieu chaque année depuis 2006 à Fort-de-France.</p>
        
    <p>Billetterie Le Grand Rex Paris: <li><a href="https://www.legrandrex.com/evenement/1465">Prenez votre place</a></li></p>
    </div>
</body>
</head>