<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Louvres Museum | Works</title>
    <link rel="stylesheet" href="http://localhost:2000/works.css">
</head>
<body>
    <h1><a class="h1-title" href="http://localhost:2000/home">LOUVRES MUSEUM</a></h1>
    <ul>
        <li><a href="http://localhost:2000/about">ABOUT</a></li>
        <li><a href="http://localhost:2000/works">WORKS</a></li>
        <li><a href="http://localhost:2000/gallery">GALLERY</a></li>
    </ul>
    <div>
        <h2>Lorem Ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam augue mi, posuere id congue ut, dapibus id mauris. Integer quis turpis pharetra ipsum molestie fringilla. Pellentesque in lorem et ex efficitur vulputate id non ligula. Aliquam a mauris leo. Pellentesque sagittis libero eget facilisis tincidunt. Donec fermentum ipsum a iaculis porta. Vivamus blandit posuere justo, rutrum iaculis est fringilla at. Sed sodales tellus id libero lacinia, ac aliquet mi suscipit. Suspendisse potenti.</p>
        <p>Donec imperdiet massa est, eu bibendum metus iaculis et. Etiam rhoncus ipsum ipsum. In aliquam ipsum congue, dapibus magna eu, laoreet est. Nam aliquet neque quis feugiat scelerisque. Maecenas varius urna vitae justo feugiat porta. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam feugiat, augue eget efficitur imperdiet, justo mauris auctor eros, sed posuere purus urna sed orci. Integer at est pharetra, efficitur orci in, gravida magna. Donec placerat, lectus eu posuere condimentum, quam turpis viverra augue, in laoreet ligula diam at justo. In ultrices dui ac neque posuere dictum. Praesent ultricies risus eu tortor ultrices, sed malesuada dolor tincidunt. Nulla facilisi. Morbi facilisis scelerisque justo. Nulla fermentum urna mauris, vel dapibus augue luctus eget. Donec eu odio massa.</p>
        <p>Integer felis mauris, tempus sit amet venenatis a, pharetra in nunc. Ut vitae faucibus elit. Integer hendrerit justo dui, at scelerisque tortor egestas suscipit. Cras pretium lorem sed ex sollicitudin, et tempor sapien dictum. Ut tincidunt mauris quam, et porttitor est consectetur ac. Nunc quis placerat enim, at bibendum magna. Curabitur eget massa ut dui tincidunt bibendum sed id mauris. Quisque eu lobortis nunc.</p>
        <p>Praesent eu luctus ante. Suspendisse eu purus est. Quisque laoreet malesuada mattis. Quisque blandit egestas tortor, eget cursus dui consectetur a. Curabitur eleifend bibendum nisl, vel porta erat scelerisque sit amet. Integer sem nulla, mattis posuere euismod id, imperdiet nec lectus. Aliquam dictum nisl nunc, nec venenatis velit blandit vitae. Nulla vitae finibus ipsum, eget laoreet diam. Praesent nec eleifend sapien, vel fringilla nisl. Nullam lacus augue, aliquam eget dui eget, laoreet consequat quam. Integer orci urna, aliquet non libero auctor, vestibulum sodales magna. Etiam eu laoreet nunc, a mattis ligula. Mauris est libero, sodales ut sodales sed, auctor ornare augue.</p>
        <p>Aliquam molestie ligula quis eleifend dictum. Mauris ultrices turpis leo, eu interdum quam efficitur eu. Vestibulum pretium arcu vehicula leo scelerisque porttitor. Suspendisse augue tellus, sodales quis sapien elementum, dignissim luctus quam. Quisque fermentum vehicula purus vel facilisis. Etiam blandit ornare lorem, a mattis dui tincidunt at. Nunc odio urna, sodales in mauris in, gravida condimentum massa. Suspendisse nec vehicula dui, quis mattis leo. Nam sit amet ornare erat. Nunc fermentum a urna eget pellentesque. Curabitur a feugiat odio. Nullam vulputate lacinia commodo. Vestibulum ultricies at enim at viverra. Aliquam erat volutpat.</p>
    </div>
</body>
</html>    