body {
  margin: 0;
  font-family: arial;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 0;
}

li {
  list-style: none;
}

ul {
  display: flex;
  gap: 25px;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid white;
}

main {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  gap: 10%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.credit {
  text-decoration: underline;
}